p{
    margin: 0;
    padding: 0;
}
.com{
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 70px;
    right: 15px;
    color: white;
}
.black{
    background-color: black !important;
}
.fnt{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.tlt{
    line-height: 45px;
}
#main {
    width: 1200px;

    background-color: #eee;
    border-radius: 5px;
    float: right;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
#title{
    width: 100%;
    height: 50px;
    background-color:crimson;
    color: white;
}
.content{
    width: 100%;
    background-color: #ddd;
    float: right;
}
.content .cnt{
    width: 350px;
    height: 400px;
    float: right;
    background-color: #fff;
    margin: 25px;
    position: relative;
    border-radius: 5px;
}
.content .cnt img{
    width: 300px;
    height: 350px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    float: right;
    margin-top: 5px;
}
.content .cnt p{
    margin-top: 360px;
}
 #txt{
     width: 100%;
    height: 50px;
    background-color:crimson;
    color: white;
    float: right;
}